/* Shared styles */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.title-container{
  max-width: 852px;
  /* margin: 48px 0; */
}
.title {
  color: rgb(13, 19, 33);
/* font-family: Azeret Mono; */
font-size: 32px;
font-weight: 800;
line-height: 37px;
/* letter-spacing: 0%; */
text-align: center;
margin: 24px 0;
}

.title-description {
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
/* margin: 24px 0; */
}

.text-center{
  text-align: center;

}
.content-title {
  
  font-size: 24px;
  
  line-height: 36px;
  /* letter-spacing: 0%; */
  text-align: left;
  }

.btn{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
}
/* header */
.header {
  background-image: url('../assets/Hero-bg.png');

}
/* banner styles */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 26px 221px 44px 221px;
}

.banner-pic {
    width: 240px;
    /* height: 240px; */
}

.banner-title {
    color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
text-align: center;
margin: 24px 0;
}

.btn-banner {
  border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
margin: 32px 0;
color: rgb(255, 255, 255);

}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* why-web section */
.why-web{
  padding: 80px 97px 80px 97px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.why-web-container {
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.why-web-row {
  border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0;
padding: 48px;
}

.row-1, .row-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:100px;
}
.row-3{
  gap:130px;
}
.row-1 img {
  width: 260px;

}
.row-content {
  max-width: 477px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

}

.row-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

}
.row-2 img {
  width: 220px;
}

.row-3 img {
  width: 205px;
}

.row-content .content-title{
  color: rgba(13, 19, 33, 0.7);
  font-weight: 700;

}

.row-content .learn-more{
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
margin: 32px 0;
}

/* inspiration section */
.inspiration{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.video-container{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;
margin: 48px 0;
}

.video-container iframe{
  border-radius: 16px;
}

/* current section */
.current{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 111px 0;
}

.current-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 48px 0;
}

.current-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0 24px;
  border-radius: 16px;

}
.current-column.column-1{
  background: rgba(255, 76, 30, 0.05);
}
.current-column.column-2{
background: rgba(0, 76, 232, 0.05);
}
.current-column.column-3{
background: rgba(255, 223, 0, 0.05);
}
.column-content{
  max-width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  /* margin: 32px 0; */
}
.column-content img{
  width: 56px;
  height: 56px;
  margin: 24px 0;

}
.column-content .content-title{
  font-weight: 800;
  color: rgb(13, 19, 33);
}

.column-content a{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin: 24px 0;
}

/* support section */
.support{
  background-image: url('../assets/handshake.jpg');
  background-size: contain;
  /* background-repeat: no-repeat; */
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.support .title{
  color: rgb(255, 255, 255);
font-weight: 700;
}

.support .title-description{
  color: rgb(255, 255, 255);
}

.support input{
  display: inline;
}
